@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
.property-card-popup .leaflet-popup-content-wrapper {
  padding: 0 !important;
  overflow: hidden;
  border-radius: 12px !important;
}

.property-card-popup .leaflet-popup-content {
  margin: 0 !important;
  width: 260px !important;
}

.property-card-popup .leaflet-popup-close-button {
  color: white !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  top: 8px !important;
  right: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
